/* VIDEO DE FONDO GLOBAL */
#video-fondo {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    z-index: -1;          
    pointer-events: none; 
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* CABECERA */
.cabecera {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid #ccc;
}

/* MENÚ */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #e6e6e6;
    padding: 10px;
}


.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* ZONA DESCUENTO */
.descuento {
    width: 80%;
    height: 250px;
    margin: 30px auto;
    background-image: url("../FOTOS/sale.jpg")
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* TEXTO */
.descuento h2 {
    font-size: 36px;
    margin: 0 0 20px 0;
    text-shadow: 2px 2px 5px black;
}

/* BOTÓN */
.descuento button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border: none;
    cursor: pointer;
}

.descuento button:hover {
    background-color: rgba(0,0,0,0.9);
}

/* FOOTER */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
@media (max-width: 768px) {

    /* HEADER */
    .cabecera h1 {
        font-size: 24px;
    }

    /* MENÚ */
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        margin: 10px 0;
        font-size: 18px;
    }

    /* FOOTER */
    .footer {
        font-size: 14px;
    }
}
