/* VIDEO DE FONDO GLOBAL */
#video-fondo {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    z-index: -1;          
    pointer-events: none; 
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* CABECERA */
.cabecera {
    text-align: center;
    padding: 20px;
    background-color: #3a6ea5; /* azul lluvia */
    border-bottom: 2px solid #2f5c8a;
}

.cabecera h1 {
    color: white;
}


/* MENÚ */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #d9dde2; 
    padding: 12px;
}



.menu a {
    text-decoration: none;
    color: #2c4f6d; 
    font-weight: bold;
}

.menu a:hover {
    color: #3a6ea5; 
}


/* ZONA DESCUENTO */
.descuento {
    width: 80%;
    height: 200px;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.descuento:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0,0,0,0.6); 
    cursor: pointer; 
}

.video-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0; 
}

.descuento h2 {
    font-size: 32px;
    text-shadow: 2px 2px 5px black;
    z-index: 1; 
}

/* ZONA NOVEDADES */
.novedades {
    width: 80%;
    height: 200px;
    margin: 40px auto;
    background-image: url("novedades.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.novedades:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0,0,0,0.6); 
    cursor: pointer; 
}

.novedades h2 {
    font-size: 32px;
    text-shadow: 2px 2px 5px black;
}



/* ZONA FOOTER */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
.tarjetas {
    width: 80%;
    margin: 60px auto;
    display: flex;
    gap: 25px;
    justify-content: space-between;
}

.tarjeta {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

/* TÍTULO */
.tarjeta h3 {
    margin: 0;
    font-size: 22px;
    color: #2c4f6d;
    text-align: center;
}

/* GALERÍA OCULTA */
.galeria {
    max-height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;

    transition: max-height 0.5s ease;
}

/* SE ABRE HACIA ABAJO */
.tarjeta:hover .galeria {
    max-height: 180px;
}

/* IMÁGENES */
.galeria img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}













/* RESPONSIVE */
@media (max-width: 768px) {

    /* CABECERA */
    .cabecera h1 {
        font-size: 24px;
    }

    /* MENÚ */
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        margin: 10px 0;
        font-size: 18px;
    }

    /* DESCUENTO y NOVEDADES */
    .descuento,
    .novedades {
        width: 95%;
        height: 180px;
    }

    /* TARJETAS  */
    .tarjetas {
        flex-direction: column;
        width: 95%;
        gap: 20px;
    }

    .tarjeta {
        transform: none;
    }

    .tarjeta:hover {
        transform: none;
    }

    /* GALERÍA */
    .galeria {
        flex-wrap: wrap;
        justify-content: center;
    }

    .galeria img {
        width: 45%;
        height: 80px;
    }

    /* FOOTER */
    .footer {
        font-size: 14px;
    }
}
